@charset "utf-8";
body{
  font-size: 12px;
  color: #222;
  font-family: 'Courier New', Courier, monospace;
}
.wrap{
  width: 500px;
  margin: 50px auto;
  border: 1px solid #d9d9d9;
  padding: 1px;
}
h3{
  background-color: #d9d9d9;
  padding: 5px 0 5px 10px;
}
input[type="button"]{
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #07c;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 5px;
}
.text{
  background-color: #fff;
  border: 1px solid #d9d9d9;
  margin: 10px 5px;
}






























































































