@charset "utf-8";
.contents{
    width: 340px;
    height: 300px;
    margin: 100px auto;
    background-color: #eee;
}
.tab-menu{
    padding: 10px;
}
.tab-menu .tab-btn ul{
    overflow: hidden;
}
.tab-menu .tab-btn ul li{
    float: left;
    width: 160px;
    background-color: #ddd;
    text-align: center;
}
.tab-menu .tab-btn ul .active{
    text-decoration: underline;
}
.tab-menu .tab-btn ul li a{
    color: black;
    display: block;
    padding: 10px;
}
.tab-menu .tab-cont{
    display: block;
    text-align: left;
    padding: 20px;
}







































































































































































































































