@charset "utf-8";
/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    color: #333;
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix:after, .clearfix::before{
    display: block;
    content: " ";
    clear: both;
}















































