@charset "utf-8";
.fl{float: left;}
.fr{float: right;}

.flex{display: flex; align-items: center;}

.inner{
  width: calc(100% - 700px);
  margin: 0 auto;
}






@media screen and (max-width:1503px) {
  .inner{
    width: calc(100% - 200px);
  }
}
@media screen and (max-width:760px) {
  .inner{
    width: 90%;
  }
}





































































































