@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
body{
  background-color: rgba(0,0,0);
  font-family: 'Nanum Pen Script', cursive;
}

.wrap{
  width: 80%;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 20px;
}
.inner{
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}
.header .inner .form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .inner h2{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.header .inner .input_text{
  width: 100%;
  padding: 8px 15px;
  border: none;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
}
.header .inner .submit_btn{
  outline: none;
  border: none;
  background-color: rgb(40, 132, 189);
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.header .inner .submit_btn:hover{
  background-color: rgb(75, 163, 218);
  box-shadow: 3px 3px 3px lightslategray;
}

.contents_body .inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contents_body .inner .item{
  width: 90%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contents_body .inner .item .todo_checkbox:checked{
  color: #ddd;
  text-decoration: line-through;
}
.contents_body .inner .content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents_body .inner .content .todo_checkbox{
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.contents_body .inner .content label{
  font-size: 2rem;
}
.contents_body .inner .content .todo_content{
  width: 400px;
  padding: 8px 15px;
  border: none;
  display: none;
  border-bottom: 1px solid #000;
}
.contents_body .inner .content_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents_body .inner .content_buttons .todo_edit_button{
  width: 70px;
  outline: none;
  border: none;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  background-color: rgb(40, 132, 189);
  transition: all .1s;
}
.contents_body .inner .content_buttons .todo_edit_button:hover{
  background-color: rgb(66, 159, 218);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.contents_body .inner .content_buttons .todo_remove_button{
  width: 70px;
  outline: none;
  border: none;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  margin-left: 20px;
  background-color: rgb(189, 40, 115);
  transition: all .1s;
}
.contents_body .inner .content_buttons .todo_remove_button:hover{
  background-color: rgb(209, 66, 138);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.contents_body .inner .edit_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.contents_body .inner .edit_buttons .todo_edit_confirm_button{
  width: 70px;
  outline: none;
  border: none;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  background-color: rgb(40, 132, 189);
  transition: all .1s;
}
.contents_body .inner .edit_buttons .todo_edit_confirm_button:hover{
  background-color: rgb(66, 159, 218);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.contents_body .inner .edit_buttons .todo_edit_cancel_button{
  width: 70px;
  outline: none;
  border: none;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  margin-left: 20px;
  background-color: rgb(189, 40, 115);
  transition: all .1s;
}
.contents_body .inner .edit_buttons .todo_edit_cancel_button:hover{
  background-color: rgb(209, 66, 138);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
























































































