@charset "utf-8";
.contact_section{
  padding: 6rem 0;
}
.contact_section .inner h2{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.contact_section .inner .tab_btn{
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.contact_section .inner .tab_btn li a{
  display: block;
  color: #1a1a1a;
  margin-left: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  transition: all .3s;
}
.contact_section .inner .tab_btn li a.active{
  background: #000;
  box-shadow: 2px 2px 5px #ccc;
  color: #fff;
}
.contact_section .inner .tab_btn li:hover a{
  background: #000;
  box-shadow: 2px 2px 5px #ccc;
  color: #fff;
}
.contact_section .inner .tab_btn li:first-child a{
  margin-left: 0;
}

/* contents_wrap 시작 */
.contact_section .inner .contents_wrap{
  align-items: center;
  justify-content: space-around;
}
.contact_section .inner .contents_wrap .contact_box{
  width: 100%;
  height: 15rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  overflow: hidden;
  display: none;
}
.contact_section .inner .contents_wrap .contact_box .con_black_bg{
  width: 100%;
  height: 15rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
}
.contact_section .inner .contents_wrap .contact_box .con_text_box{
  position: absolute;
  left: 50%;top: 50%;
  transform: translate(-50%, -50%);
}
.contact_section .inner .contents_wrap .contact_box .con_text_box a{
  display: block;
  width: 100%;
  color: #ccc;
  z-index: 10;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2rem;
}
.contact_section .inner .contents_wrap .contact_box .con_text_box p{
  display: block;
  width: 100%;
  color: #ccc;
  margin-top: 2rem;
}

.contact_section .inner .contents_wrap .contact_box:nth-of-type(1){
  background: url("../img/phone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_section .inner .contents_wrap .contact_box:nth-of-type(2){
  background: url("../img/email.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_section .inner .contents_wrap .contact_box:nth-of-type(3){
  background: url("../img/house.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_section .inner .contents_wrap .contact_box:hover a{
  color: #fff;
  font-size: 1.4rem;
  transition: all 0.3s;
}









































