@charset "utf-8";
.header{
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgb(20, 94, 206);
}
.sub_inner .logo_box{
  width: 285px;
  margin-right: 25%;
}
.logo_box h1 a{
  font-family: 'takota';
  display: block;
  font-size: 45px;
  color: rgb(20, 94, 206);
}
.logo_box h1 a img{
  width: 120px;
}
.logo_box h2{
  font-family: 'takota';
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  color: rgb(20, 94, 206);
}
.logo_box h2 span{
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}

/* pc메뉴 */
nav .pc_menu{
  margin: 0 auto;
  margin-top: 10px;
}
nav .pc_menu li{
  float: left;
  margin-right: 30px;
  position: relative;
}
nav .pc_menu li:last-child{
  margin-right: 0px;
}
nav .pc_menu li a{
  color: rgb(20, 94, 206);
  font-size: 18px;
}
nav .pc_menu li:hover a {
  text-decoration: underline;
}
/* //pc메뉴 */

/* 로그인 쪽 */
.gnb{
  display: block;
  margin-top: 15px;
}
.gnb li{
  float: left;
  margin-right: 20px;
  position: relative;
}
.gnb li::before{
  content: '';
  display: block;
  width: 1px;
  height: 70%;
  background-color: rgb(20, 94, 206);
  position: absolute;
  right: -10px;
  top: 0;
}
.gnb li:last-child:before{
  display: none;
}
.gnb li a{
  color: rgb(20, 94, 206);
  font-size: 12px;
}
.gnb li:hover a {
  text-decoration: underline;
}
.user_box{
  float: right;
  display: none;
}
.user_box li{
  float: left;
}
.user_box li:first-child{
  padding-top: 10px;
  margin-right: 10px;
}
.user_box li .logout{
  border-radius: 50px;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: rgb(238, 68, 96);
  cursor: pointer;
}
/* // 로그인 쪽 */


.header_box{
  position: relative;
}

/* 모바일 메뉴 */
.m_box{
  display: none;
}
.m_btn{
  width: 40px;
  height: 30px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
/* 모바일 버튼 디자인 */
.m_btn div{
  width: 100%;
  height: 5px;
  background-color: rgb(20, 94, 206);
  margin-top: 7px;
  transition: width .3s;
  border-radius: 10px;
}

.m_btn div:nth-of-type(1){
  margin-top: 0;
}
.m_btn:hover div:nth-of-type(2){
  width: 60%;
}
/* //모바일 버튼 디자인 */
/* 모바일 메뉴 리스트 */
.m_menu_box{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 5.5rem;
  width: 100%;
  text-align: center;
  z-index: 10;
  display: none;
}
.m_menu li{
  border-bottom: 1px solid #ddd;
  background-color: rgb(20, 94, 206);
}
.m_menu li a{
  display: block;
  padding: 20px 0;
  color: #fff;
}
.m_menu li:hover a{
  text-decoration: underline;
}
.m_login_box {
  margin-top: 30px;
  margin-left: 37%;
}
.m_login_box li {
  width: 20%;
  float: left;
}
.m_login_box li a {
  font-size: 18px;
  color: rgb(20, 94, 206);
}
.m_login_box li a:hover {
  color: rgb(64, 130, 230);
  text-decoration: underline;
}
/* //모바일 메뉴 리스트 */
/* //모바일 메뉴 */




@media screen and (max-width:1600px){
  
}
@media screen and (max-width:1024px){
  nav .pc_menu{
    display: none;
  }
  .gnb{
    display: none;
  }
  .m_box{
    display: block;
  }
  .on div{
    transition: all .2s;
  }
  .on div:nth-of-type(1){
    width: 80%;
    margin-top: 15px;
    transform: rotate(45deg);
  }
  .on div:nth-of-type(2){
    width: 80%;
    opacity: 0;
  }
  .on div:nth-of-type(3){
    width: 80%;
    margin-top: -12px;
    transform: rotate(-45deg);
  }
}
@media screen and (max-width:769px){
  nav .pc_menu{
    display: none;
  }
  .gnb{
    display: none;
  }
  .sub_inner h2{
    display: none;
  }
  .m_btn{
    right: 3%;
  }
  .m_btn div{
    height: 3px;
  }
  .m_box{
    display: block;
  }
}
@media screen and (max-width:450px){
  
}





















































































