@charset "utf-8";
.section01{
  width: 100%;
  height: 90vh;
  background: url('../img/bg01.jpg') no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.cover_bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0; top: 0;
}

.section01 .text_box{
  color: #fff;
  margin-top: 150px;
}
.section01 .text_box .title h3{
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.section01 .text_box .content{}
.section01 .text_box .content p{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 13px;
}

.section01_banner{
  width: 100%;
  background-color: rgb(20, 94, 206);
  position: absolute;
  left: 0;
  bottom: 0;
}
.section01_banner .inner{
  padding: 2.5rem 0 3rem 0;
}
.section01_banner .inner .text_info{
  float: left;
  vertical-align: middle;
}
.section01_banner .inner .text_info span{
  display: block;
  font-size: 30px;
  color: #fff;
  margin-top: 15px;
}
.section01_banner .inner a{
  display: block;
  float: right;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(104, 150, 235);
  padding: 1rem;
  border-radius: 50px;
  transition: all .3s;
}
.section01_banner .inner a:hover{
  background-color: rgb(112, 158, 243);
  box-shadow: 1px 1px 4px rgba(0, 12, 177, 0.6);
}
/* //section01 */
/* section02 */
.section02{
  width: 100%;
  position: relative;
}
.section02 .section02_inner{
  width: 90%;
  margin: 0 auto;
}
.section02 .section02_inner .main_port{
  width: 100%;
}
.section02 .section02_inner .main_port li{
  width: 20%;
  float: left;
  margin-right: 5%;
}
.section02 .section02_inner .main_port li:last-child{
  margin-right: 0;
}
.section02 .section02_inner .main_port li a{
  width: 100%;
}
.section02 .section02_inner .main_port li a img{
  width: 100%;
}




/* //section02 */

































































@media screen and (max-width:1600px){
  
}
@media screen and (max-width:1024px){
  .section01_banner .inner{
    padding: 1.8rem 0 2.8rem 0;
  }
  .section01_banner .inner .text_info span{
    font-size: 25px;
    margin-top: 8px;
  }
  .section01_banner .inner a{
    font-size: 18px;
    padding: .8rem;
  }
}
@media screen and (max-width:769px){
  
}
@media screen and (max-width:450px){
  .section01_banner .inner{
    padding: 1.8rem 0 2.8rem 0;
  }
  .section01_banner .inner .text_info span{
    font-size: 20px;
    margin-top: 8px;
  }
  .section01_banner .inner a{
    font-size: 18px;
    padding: .5rem;
  }
}






















