@charset "utf-8";
.port_wrap, .port_section01{
  position: relative;
}
.inner{
  padding: 5rem 0;
}
.inner h3{
  font-size: 1.7rem;
  margin-bottom: 45px;
  text-align: center;
  font-weight: bold;
}

/* 실제사이트 */
.inner .real{
  width: 80%;
  margin: 0 auto;
}
.inner .real li{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgb(230, 230, 230);
}
/* .inner .real li:nth-child(3){
  margin-right: 0;
}
.inner .real li:nth-child(6){
  margin-right: 0;
} */
.inner .real li a{
  display: block;
}
.inner .real li a img{
  width: 30%;
  float: left;
  margin-right: 5%;
  border-radius: 10px;
  transition: all .3s;
}
.inner .real li:nth-child(2n) h4{
  text-align: right;
}
.inner .real li:nth-child(2n) .skill_box{
  float: right;
}
.inner .real li:nth-child(2n) .skill_box:last-child button{
  margin-right: 0;
}
.inner .real li:nth-child(2n) a img{
  float: right;
  margin-right: 0;
  margin-left: 5%;
}
.inner .real li:hover img{
  transform: scale(1.03);
}
.inner .real li a .port_text_box{
  width: 80%;
  margin: 0 auto;
  padding-top: 6%;
}
.inner .real li a h4{
  font-size: 25px;
  color: #222;
}
.inner .real li a p{
  margin-top: 30px;
  font-size: 18px;
  color: #222;
  line-height: 25px;
}
/* //실제사이트 */


/* 스터디사이트 */
.inner .study{
  width: 80%;
  margin: 0 auto;
}
.inner .study li{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgb(230, 230, 230);
}
/* .inner .study li:nth-child(3){
  margin-right: 0;
}
.inner .study li:nth-child(6){
  margin-right: 0;
} */
.inner .study li a{
  display: block;
}
.inner .study_box h3{
  margin-top: 120px;
}
.inner .study li a img{
  width: 30%;
  float: left;
  margin-right: 5%;
  border-radius: 10px;
  transition: all .3s;
}
.inner .study li:hover img{
  transform: scale(1.03);
}
.inner .study li a .port_text_box{
  width: 80%;
  margin: 0 auto;
  padding-top: 6%;
}
.inner .study li a h4{
  font-size: 25px;
  color: #222;
}
.inner .study li a p{
  margin-top: 30px;
  font-size: 18px;
  color: #222;
  line-height: 25px;
}
.inner .study li:nth-child(2n) h4{
  text-align: right;
}
.inner .study li:nth-child(2n) .skill_box{
  float: right;
}
.inner .study li:nth-child(2n) a img{
  float: right;
  margin-right: 0;
  margin-left: 5%;
}
/* //스터디사이트 */



.skill_box{
  margin-top: 30px;
}
.skill_box button{
  margin-right: 10px;
}















@media screen and (max-width:1600px){
  
}
@media screen and (max-width:1024px){
  .inner .real li{
    width: 100%;
  }
  .inner .study li {
    width: 100%;
  }
}
@media screen and (max-width:769px){
  .inner .real{
    width: 95%;
    margin: 0 auto;
  }
  .inner .real li{
    width: 100%;
  }
  .inner .real li h4{
    width: 100%;
    font-size: 1.4rem;
    margin-top: 0px;
    margin-left: 20px;
  }
  .inner .real li a h4 {
    width: 100%;
    font-size: 1.4rem;
  }
  .inner .real li a p br{
    display: none;
  }
  .inner .real li a img{
    width: 100%;
    margin-right: 4%;
    margin-bottom: 30px;
  }
  .inner .real li a .port_text_box{
    /* width: 90%; */
    margin: 0;
    padding: 0;
  }
  .inner .real li:nth-child(2n) a img {
    clear: both;
    margin-right: 0;
    margin-left: 0%;
  }
  .inner .real li:nth-child(2n) h4 {
    width: 100%;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 20px;
  }
  .inner .real li:nth-child(2n) .skill_box {
    float: left;
    margin-left: 10px;
  }


  
  .inner .study{
    width: 95%;
    margin: 0 auto;
  }
  .inner .study li{
    width: 100%;
  }
  .inner .study li h4{
    width: 100%;
    font-size: 1.4rem;
    margin-top: 0px;
    margin-left: 20px;
  }
  .inner .study li a img{
    width: 100%;
    margin-right: 4%;
    margin-bottom: 30px;
  }
  .inner .study li a .port_text_box{
    width: 90%;
    margin: 0 auto;
    padding-top: 3.5%;
  }
  .inner .study li a .port_text_box{
    /* width: 90%; */
    margin: 0;
    padding: 0;
  }
  .inner .study li:nth-child(2n) a img {
    clear: both;
    margin-right: 0;
    margin-left: 0%;
  }
  .inner .study li:nth-child(2n) h4 {
    width: 100%;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 20px;
  }
  .inner .study li:nth-child(2n) .skill_box {
    float: left;
    margin-left: 10px;
  }
  
  .skill_box{
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 30px;
  }
  .skill_box button{
    margin: 10px 0 10px 10px;
  }
}
@media screen and (max-width:450px){
  
}






















