@charset "utf-8";
/* .skill_box{} */
.skill_box li{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.skill_inner{
  height: 100vh;
}
/* .skill_box li .progress_box{} */
.skill_box li .progress_box h4{
  float: left;
  width: 10%;
  font-size: 20px;
  line-height: 40px;
}
.skill_box li .progress_box .back_pro{
  position: relative;
  width: 90%;
  height: 40px;
  border-radius: 50px;
  background-color: #eee;
  float: right;
  overflow: hidden;
}
.skill_box li .progress_box .fill{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.html_fill{
  width: 95%;
  background-color: #e64c18;
}
.css_fill{
  width: 90%;
  background-color: #1472b6;
}
.js_fill{
  width: 85%;
  background-color: #e5a228;
}
.jquery_fill{
  width: 90%;
  background-color: #f1bf26;
}
.vue_fill{
  width: 75%;
  background-color: #41b883;
}
.scss_fill{
  width: 75%;
  background-color: #ed54ba;
}
.per{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.table_wrap{
  display: none;
}



@media screen and (max-width:1600px){
  
}
@media screen and (max-width:1024px){
  .table_wrap{
    display: block;
    width: 90%;
    margin: 90px auto 0;
  }
  .table_wrap table{
    width: 100%;
  }
  .table_wrap caption{
    text-indent: -999em;
  }
  .table_wrap tr{
    width: 100%;
    border: 1px solid #d9d9d9;
  }
  .table_wrap tr td:first-child{
    background-color: rgba(250, 250, 250);
  }
  .table_wrap tr:first-child td{
    background-color: rgba(250, 250, 250);
  }
  .table_wrap td{
    border: 1px solid #d9d9d9;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
  }
}
@media screen and (max-width:769px){
  .skill_inner{
    height: 100vh;
  }
  #myChart{
    height: 500px;
  }
}
@media screen and (max-width:450px){
  
}

































