@charset "utf-8";
header{
    width: 1200px;
    height: 100px;
    margin: 50px auto;
    /* border: 1px solid #000; */
    background-color: rgb(243, 243, 243);
    position: relative;
}
.logo{
    width: 150px;
    height: 100px;
    float: left;
}
.nav{
    float: right;
}
.nav > ul{
    width: 600px;
    margin-top: 59px;
}
.nav > ul > li{
    width: 25%;
    float: left;
    text-align: center;
    background-color: rgb(204, 204, 204);
}
.nav > ul > li > a{
    display: block;
    padding: 10px;
}





































































































































































































































