@charset "utf-8";
header{
    width: 1200px;
    height: 100px;
    margin: 50px auto;
    /* border: 1px solid #000; */
    background-color: rgb(243, 243, 243);
    position: relative;
    text-align: center;
}
.logo{
    width: 150px;
    height: 100px;
    line-height: 100px;
    float: left;
    position: absolute;
    left: 0;top: 0;
    z-index: 10;
}
.header .nav{
    position: relative;
    float: right;
    width: 100%;
    margin-top: 56px;
    background-color: rgb(243, 243, 243);
}
.header .nav ul{
    padding-left: 40%;
}
.header .nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}
.header .nav ul li a{
    display: block;
    padding: 10px;
}
.header .nav ul li ul.submenu{
    display: none;
}





































































































































































































































