body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder,
textarea[readonly]::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder,
textarea[readonly]::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.scroll_x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll_x::-webkit-scrollbar {
  display: none;
}

.header_area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #03c75e;
  color: #fff;
  z-index: 5;
}

.header_area .place_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.header_area .place_header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.header_area .place_header .link_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_area .place_header .my_orders {
  padding-right: 18px;
  font-size: 15px;
  font-weight: 700;
}

.header_area .place_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  background-color: #03b753;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header_area .place_tab::-webkit-scrollbar {
  display: none;
}

.header_area .tab_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header_area .tab_inner .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 12px;
  font-size: 16px;
  text-align: center;
  opacity: 0.7;
}

.header_area .tab_inner .tab.is_active {
  font-weight: 700;
  opacity: 1;
}

.header_area .tab_inner .tab.is_active .txt::after {
  content: '';
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.header_area .tab_inner .tab .txt {
  position: relative;
  display: inline-block;
  padding: 0 4px;
  line-height: 46px;
}

.dimmed-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.order_type_popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 32px 0 40px;
  z-index: 4;
  text-align: center;
  border-radius: 16px 16px 0 0;
}

.order_type_popup .title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.order_type_popup .type_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.order_type_popup .type_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order_type_popup .type_item + .type_item {
  border-left: 1px solid #f2f2f2;
}

.order_type_popup .icon {
  width: 100px;
  height: auto;
  color: #03c75a;
}

.order_type_popup .desc {
  margin-top: 8px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  color: #000;
}

.order_type_popup .btn_selection {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 18px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 28px;
  background-color: #424242;
  color: #fff;
}

.order_info_area {
  padding-top: 10px 18px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #e7f7ff;
}

.order_info_area .info_main_title {
  line-height: 39px;
}

.order_info_area .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #333;
}

.order_info_area .title .ico-n-logo {
  margin-right: 6px;
  width: 24px;
  height: 24px;
}

.tab_switch_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.tab_switch_box .tab_swtich {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(0, 0, 0, 0.06);
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  color: #666;
  letter-spacing: -0.3px;
}

.tab_switch_box .is_active {
  position: relative;
  -webkit-box-flex: 1.2;
      -ms-flex-positive: 1.2;
          flex-grow: 1.2;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.tab_switch_box .is_active::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-width: 0 1px 1px 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
}

.tab_switch_box .is_active .ico_check {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.ico_check {
  display: none;
}

.info_main_notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  padding: 12px 16px;
  border-radius: 2px;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #333;
}

.info_main_notice .alert {
  color: #ff3d3b;
  font-weight: 700;
}

.info_main_notice .ico_clock {
  margin-right: 6px;
}

.recent_order_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  padding: 18px 0;
  border-radius: 2px;
  background-color: #fff;
}

.recent_order_area .recent_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-right: 1px solid #f2f2f2;
  line-height: 1.42;
  font-size: 12px;
  font-weight: 700;
  color: #333;
}

.recent_order_area .recent_title .ico-clock {
  margin-bottom: 4px;
  width: 14px;
}

.recent_order_area .recent_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent_order_area .recent_menu_item {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: 16px;
  width: 80px;
  text-align: center;
}

.recent_order_area .recent_menu_item .is_ordered {
  padding-right: 16px;
  border-right: 1px solid #f2f2f2;
}

.recent_order_area .recent_menu_item:last-child {
  padding-right: 18px;
}

.recent_order_area .menu_img_area {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #f9f9f9;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.recent_order_area .badge_popular {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  border-radius: 10px;
  line-height: 16px;
  font-weight: 700;
  background-color: #ff61a7;
  color: #fff;
  font-size: 11px;
}

.recent_order_area .menu_img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.recent_order_area .badge_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  background-color: #f8fafb;
}

.recent_order_area .ico_cart {
  width: 16px;
}

.recent_order_area .menu_name {
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.recent_order_area .menu_price {
  font-size: 13px;
  font-weight: 700;
  color: #ff3d3b;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu_category_area {
  position: -webkit-sticky;
  position: sticky;
  top: 94px;
  margin-top: 10px;
  background-color: #fff;
}

.menu_category_area .common_inner {
  border-bottom: 1px solid #f2f2f2;
}

.menu_category_area .common_inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #fff), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, #fff 25%, rgba(255, 255, 255, 0));
}

.menu_category_area .common_inner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, #fff), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to left, #fff 25%, rgba(255, 255, 255, 0));
}

.menu_category_area .category_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_category_area .categoery_item:first-child {
  padding-left: 18px;
}

.menu_category_area .categoery_item:last-child {
  padding-right: 18px;
}

.menu_category_area .category_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  font-size: 16px;
  height: 30px;
  border-radius: 15px;
  color: #333;
}

.menu_category_area .category_tab.is_active {
  background-color: #424242;
  font-weight: 700;
  color: #fff;
}

.container {
  padding-top: 94px;
  background-color: #f4f7f9;
}

.common_inner {
  margin: 0 auto;
  max-width: 720px;
  width: 90%;
  padding: 5% 0;
}
