.App{
  text-align: center;
}
.inner{
  width: calc(100% - 300px);
  margin: 0 auto;
}
.jumbotron{
  background-color: rgb(233, 233, 233);
  text-align: center;
  background-image: url("./img/jum_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding: 10rem 0;
}
.jumbotron h1{
  font-weight: bold;
}
.jumbotron p{
  font-weight: 600;
}
.container .row .col-md-4{
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
