@charset "utf-8";
.clearfix::after,
.clearfix::before{
    content: "";
    display: block;
    clear: both;
}
.wrap{
    width: 1200px;
    height: 800px;
    margin: 50px auto;
    background-color: #eee;
}
.header{
    width: 200px;
    height: 100%;
    float: left;
    background-color: #ddd;
    text-align: center;
}
/* .header .logo{
    
} */
.header .logo h1{
    width: 200px;
    height: 150px;
    background-color: #ccc;
}
.header .logo h1 a{
    display: block;
    line-height: 150px;
}
/* .header .menu{

} */
.header .menu > li{
    width: 100%;
    background-color: rgb(236, 187, 187);
}
.header .menu li a{
    display: block;
    padding: 10px;
}
.header .menu li a:hover{
    background-color: rgb(192, 146, 146);
}
.header .menu li ul.submenu{
    display: none;
}
.header .menu li ul.submenu > li{
    width: 100%;
    background-color: #aaa;
}
/* .header .menu li ul.submenu li a{

} */


.section{
    width: 1000px;
    float: right;
    background-color: #cdcdcd;
}
.slideBox{
    width: 100%;
    height: 260px;
    overflow: hidden;
}
.slideBox .slideList{
    width: 100%;
    position: relative;
}
.slideBox .slideList .slideImg{
    width: 100%;
    position: relative;
}
.slideBox .slideList .slideImg p{
    color: #fff;
    position: absolute;
    left: 45%;top: 45%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
}
.slideBox .slideList .slideImg img{
    width: 100%;
    display: block;
}

.contents{
    width: 100%;
    height: 300px;
}
.contents .tabBox{
    width: 33.333%;
    height: 100%;
    background-color:#aaa;
    float: left;
}
/* .contents .tabBox .tabMenu{

}
.contents .tabBox .tabMenu ul{

} */
.contents .tabBox .tabMenu ul li {
    width: 50%;
    background-color:rgb(223, 222, 222);
    float: left;
    text-align: center;
}
.contents .tabBox .tabMenu ul li  a{
    display: block;
    padding: 10px;
}
.contents .tabBox .tabMenu ul .active{
    text-decoration: underline;
}
.contents .tabBox .tabCont div{
    text-align: center;
    /* display: none; */
}

.contents .tabBox .tabMenu ul li  a:hover{
    background-color: #fff;
}
.contents .pop{
    width: 33.333%;
    height: 100%;
    background-color:rgb(116, 109, 109);
    float: left;
}
.contents .gallery{
    width: 33.333%;
    height: 100%;
    background-color:rgb(110, 59, 59);
    float: right;
}

























































































































































































































