@charset "utf-8";
.book_wrap{
  width: 350px;
  height: 540px;
  margin: 50px auto;
  position: relative;
}

.book_wrap h2{
  padding: 0 0 5px 10px;
}

.btn_left{
  position: absolute;
  left: 0;
  top: 180px;
  width: 23px;
  height: 41px;
  overflow: hidden;
  display: block;
}
.btn_left a.on{
  margin-left: -23px;
}
.btn_right{
  position: absolute;
  right: 0;
  top: 180px;
  width: 23px;
  height: 41px;
  overflow: hidden;
  display: block;
}
.btn_right a.on{
  margin-left: -23px;
}

.bookList{
  width: 270px;
  margin: 0 auto;
}
.displayNone{
  display: none;
}

.iconList{
  text-align: center;
}
.iconList li{
  padding: 0 0 0 5px;
  display: inline-block;
}



























































































