@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
  font-family: 'Noto Sans KR', sans-serif;
}
.wrap{
  width: 100%;
}
.inner{
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

