@charset "utf-8";
.banner{
    width: 1200px;
    height: 312px;
    margin: 100px auto;
    overflow: hidden;
}
.banner .slideList{
    width: 1200px;
    height: 312px;
    position: relative;
}
.banner .slideList .slideImg{
    position: relative;
}
.banner .slideList .slideImg h2{
    position: absolute;
    left: 50%;
    top: 50%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.banner .slideList .slideImg img{
    width: 100%;
    display: block;
}







































































































































































































































