@charset "utf-8";
.banner{
    width: 1200px;
    height: 312px;
    text-align: center;
    margin: 100px auto;
    overflow: hidden;
}
.slideList{
    width: 1200px;
    height: 312px;
    position: relative;
}
.slideList .slideImg{
    position: relative;
}
.slideList .slideImg h2{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}
.slideList .slideImg img{
    width: 100%;
    display: block;
}







































































































































































































































