@charset "utf-8";
.section{
  height: 1200px;
}
.section02{
  height: 1200px;
  background-color: #ebebeb;
}
.section02 .text_box{
  transition: all .8s;
}
.section03 .text_box{
  transition: all .8s;
}
.inner{
  max-width: 1200px;
  margin: 0 auto;
}
.inner h1{
  padding-top: 30%;
  font-size: 3rem;
  font-weight: bold;
}
.inner p{
  margin-top: 30px;
  line-height: 1.5;
  font-size: 18px;
}
.on{
  opacity: 1;
}
.off{
  opacity: 0;
}
