@charset "utf-8";

.wrap{
  width: 500px;
  margin: 50px auto;
}
.box{
  width: 400px;
  margin: 50px auto;
  border: 1px solid #000;
  overflow-x: scroll;
}
/* 스크롤 커스터마이징 시작 */
.box::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.box::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  box-shadow: -3px 0 5px rgb(250, 250, 250);
}
.box::-webkit-scrollbar-track {
  background-color: grey;
}
/* 스크롤 커스터마이징 끝 */
.text_box{
  float: left;
  display: flex;
}
.text{
  width: 400px;
  height: 200px;
}
.text1{
  background-color: antiquewhite;
}
.text2{
  background-color: rgb(160, 110, 46);
}
.text3{
  background-color: rgb(29, 169, 179);
}
.text4{
  background-color: rgb(20, 179, 34);
}
































