@charset "utf-8";
.clearfix::after,
.clearfix::before{
    content: "";
    display: block;
    clear: both;
}
.wrap{
    width: 1200px;
    height: 800px;
    margin: 50px auto;
    border: 1px solid #000;
    background-color: rgb(241, 241, 241);
}


.header{
    width: 100%;
    height: 100px;
    background-color: rgb(230, 230, 230);
}
.header .logo h1{
    float: left;
}
.header .logo h1 a{
    display: block;
    width: 150px;
    height: 100px;
    background-color: rgb(211, 211, 211);
    text-align: center;
    line-height: 100px;
}
.header .nav ul{
    width: 600px;
    margin-top: 40px;
    float: right;
}
.header .nav ul li{
    width: 25%;
    float: left;
    background-color: rgb(197, 196, 196);
    position: relative;
}
.header .nav ul li a{
    display: block;
    padding: 10px;
    text-align: center;
}
.header .nav ul li ul.submenu{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;top: 0px;
}   
.header .nav ul li ul.submenu li{
    width: 100%;
    z-index: 3;
}

.section{
    width: 100%;
}
.section .slideBox{
    width: 1200px;
    height: 313px;
    overflow: hidden;
    position: relative;
}
.section .slideBox .slideList{
    width: 3600px;
    position: relative;
}
.section .slideBox .slideList .slideImg{
    float: left;
}
.section .slideBox .slideList .slideImg p{
    position: absolute;
    left: 0;top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.section .slideBox .slideList .slideImg img{
    width: 1200px;
}


/* tabMenu */
.contents{
    width: 100%;
    height: 317px;
    background-color: rgb(212, 212, 212);
}
.contents .tabBox{
    width: 33.333%;
    float: left;
}
.contents .tabBox ul{

}
.contents .tabBox ul li{
    width: 50%;
    float: left;
    text-align: center;
}
.contents .tabBox ul li a{
    display: block;
    padding: 10px;
    background-color: #aaa;
}
.contents .tabCont{
    text-align: center;
}
.contents .tabCont div{

}
































































































































































































































