@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'encobki';
  src: url('./ENCOBKI.TTF') format('truetype');
}
@font-face {
  font-family: 'takota';
  src: url('./Takota.ttf') format('truetype');
}