@charset "utf-8";
.form{
  width: 800px;
  margin: 50px auto;
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.name_box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.name_box label{
  margin-right: 20px;
}
.country_box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.country_box label{
  margin-right: 20px;
}
.submit_btn{
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}


































