@charset "utf-8";
.wrap{
  width: 100%;
  position: relative;
}
.inner{
  width: 1200px;
  margin: 0 auto;
}


/* header */
header{
  width: 100%;
}










/* //header */

/* footer */
footer{
  width: 100%;
}


/* //footer */
