@charset "utf-8";
.wrap{
  width: 100%;
}
.inner{
  width: 80%;
  padding: 3rem 1rem;
  margin: 100px auto;
  background-color: #eee;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
label{
  font-size: 20px;
}
input{
  width: 70%;
  padding: 8px 4px;
  margin: 10px 0 30px 0;
}
.sub_btn{
  width: 30%;
  cursor: pointer;
  border: none;
  background-color: rgb(1, 130, 216);
  color: #fff;
}
.sub_btn:hover{
  background-color: rgb(42, 151, 224);
}




























































































